/* body{
  background: black;
  color:white;
} */

html{
/* background-image: url("./images/bar.jpg"); */
background-image: url("./images/lounge.jpg");

  background-size: cover;
  width: 100vw;
  height: 100vh;
  color:gold;
}

.App {
  text-align: center;
}

h3{
  font-size: 25px;
  font-family: Cousine;
  text-shadow: 0 0 5px black,0 0 5px gold;
  /* font-family: Cousine; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

.App-link {
  color: #61dafb;
}


.drinkInfo{
  display:flex;
  margin: 0 20% 0 20%;
  align-items: center;
  justify-content: center;
  /* max-width: 300px; */
  /* max-height: 300px; */
  /* overflow: scroll; */

}

.drinkInfo > img{
  flex: 1;
  width:200px;
  height:200px;
  background: black;
  text-align: center;

}
.breakdown{
  flex: 2;
  border: 1px solid white;
  background: black;
  opacity: .8;
  overflow: auto;
  /* color:white; */
  /* font-family: impact; */


}

.newInfo{
  /* font-family: impact; */
  /* max-width: 300px; */
  /* max-height: 300px; */
  color: gold;
  text-align: center;
  /* border: 1px solid red; */
  align-items: center;
    justify-content: center;

  /* transition-delay: 1s; */
}

img.picHover{
  text-align: center;
  max-width: 300px;
  max-height: 300px;
  pointer-events: auto;
  /* transition-delay: 2s; */

}

.choiceOfWord{
  color:white;
}
img.picHover:hover{
/* border-radius: 35%; */

}

.drinkInfo .newInfo {
  overflow: hidden;
  height: 0px;
  /* max-height: 0px; */
  transition: all 1.3s;
}
.drinkInfo[data-selected="true"] .newInfo {
  height: 300px;
  /* max-height: calc(100%); */
}
