h1 {
  text-shadow: 0 0 5px black, 0 0 5px gold;
  text-align: center;
  font-family: 'Oxygen Mono', monospace;
}

button {
  background-color: black;
  color: gold;
  font-size: 15px;
}

input {
  background-color: black;
  color: gold;
  font-size: 15px;
}





html {
  background-image: url("./images/lounge.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: gold;
}

.App {
  text-align: center;
}

h3 {
  font-size: 2em;
  font-family: Cousine;
  text-shadow: 0 0 5px black, 0 0 5px gold;
  /* font-family: Cousine; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

h2{
  color:white;
  text-shadow: 0 0 5px black, 0 0 5px gold;

}

@media only screen and (max-width: 450px) {

  .breakdown {
    flex: 2;
    border: 1px solid white;
    background: black;
    opacity: .8;
    overflow: auto;
    width:50%!important;
    height: auto;
    /* height: 100vh; */
    font-size: .8em!important;
    padding-left: .4em;
    padding-right: .4em;

  }

  .newInfo{
    padding-left: .4em;
    padding-right: .4em;
    padding-bottom: .4em;


  }

  h3{
    font-size: 1.2em!important;
  }

  .drinkInfo>img {
    flex: 1;
    width: 50%!important;
    height: 100px!important;
    background: black;
    text-align: center;
    border-radius: 15%;
  }

  .breakdown>img{
    width:50%!important;
    height:100px!important;
  }



}





.breakdown {
  flex: 2;
  border: 1px solid white;
  background: black;
  opacity: .8;
  overflow: auto;

}

.newInfo {

  color: gold;
  text-align: center;

  align-items: center;
  justify-content: center;

}

div {
  border-radius: 15%;
}

img.picHover {
  text-align: center;
  max-width: 300px;
  max-height: 300px;
  pointer-events: auto;
  border-radius: 15%;
}

.drinkInfo {
  display: flex;
  margin: 0 20% 0 20%;
  align-items: center;
  justify-content: center;
}

.drinkInfo>img {
  flex: 1;
  width: 200px;
  height: 200px;
  background: black;
  text-align: center;
  border-radius: 15%;
}

.drinkInfo .newInfo {
  overflow: hidden;
  height: 0px;

  transition: all 1.3s;
}

.drinkInfo[data-value="true"] .newInfo {
  height: 300px;

}
